{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    // not entirely sure why we need this but it doesn't work correctly without it
    "transform-inline-environment-variables",
    "@babel/plugin-proposal-object-rest-spread",
    "lodash"
  ]
}
